@model AuditViewModel
<h4>Users that updated Volunteers in System.</h4>
<table>
@foreach(var aud in Model.AuditList)
{
    <tr>
        <td>User Name: @aud.UserName</td>
        <td>Date Updated: @aud.DateUpdated</td>
        <td>Volunteer ID: @aud.VOLUNTEERID</td>
        <td>Volunteer First Name: @aud.Volunteer.FirstName</td>
    </tr>
}
</table>