@model IEnumerable<Opportunity>

@foreach (var opp in Model)
{
    
<table>
        <tr>
            <td><label>Opportunity Name:</label></td>
            <td>@opp.OpportunityName</td>
        </tr>
        <tr>
            <td><label>Opportunity Date and Time:</label></td>
            <td>@opp.OpportunityDate</td>
        </tr>
        <tr>
            <td><label>Opportunity Description:</label></td>
            <td>@opp.OpportunityDescription</td>
        </tr>
        <tr>
            <td colspan="2">
                
            </td>
        </tr>
    
</table>
}