@model InterestViewModel


<div class="col-sm-3">
    <form asp-controller="Home" asp-action="Index" method="post">
        <label>Interest:</label>
        <select asp-for="Interest" asp-items="@Model.Interests">
            <option>Select One...</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</div>
<div class="col-sm-8">
<table>
    @foreach(var opp in Model.Opportunity)
    {
        <tr>
            <td><h5>@opp.OpportunityName</h5></td>
            <td>@opp.OpportunityDescription</td>
        </tr>
    }
</table>
</div>