<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <nav class="navbar navbar-inverse navbar-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">ElderSource Volunteer Management</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                        <li><a asp-area="" asp-controller="Volunteer" asp-action="ListVolunteerEdit">Volunteers</a></li>
                        
                        <li><a asp-area="" asp-controller="Volunteer" asp-action="VolunteerForm">Volunteer Form</a></li>
                        <li><a asp-area="" asp-controller="Opportunity" asp-action="ListOpportunityEdit">Opportunities</a></li>
                        }
                        @if (User.Identity.IsAuthenticated || User.IsInRole("Admin") || User.IsInRole("Manager"))
                        {
                            <li><a asp-area="" asp-controller="Admin" asp-action="Index">Admin</a></li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                        <li><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
