@model IEnumerable<Volunteer>
<table>
    @foreach (var vol in Model)
    {
        <tr>
            <td>@vol.FirstName</td>
            <td>@vol.LastName</td>
            <td>@vol.Email</td>
            <td>
                <form asp-action="Edit" method="post">
                    <input type="hidden" name="VolunteerID" value="@vol.VOLUNTEERID" />
                    <button type="submit" asp-controller="Volunteer" asp-action="Edit">Edit</button>
                </form>
            </td>

        </tr>
    }
    <tr>
        <td colspan="2">
        <a class="btn btn-primary" asp-controller="Volunteer" asp-action="Create">Create New Volunteer</a>
        </td>
    </tr>
</table>