@model IEnumerable<Opportunity>

<h4>Opportunity Management</h4>
<table>
    @foreach (var opp in Model)
    {
        <tr>
            <td style="width:5%;padding-bottom:1%">@opp.OpportunityName</td>
            <td style="width:5%;padding-bottom:1%">@opp.OpportunityDescription</td>
            <td style="width:5%;padding-bottom:1%">
                <form asp-action="Edit" method="post">
                    <input type="hidden" name="OpportunityID" value="@opp.OPPORTUNITYID" />
                    <button type="submit" asp-controller="Opportunity" asp-action="Edit">Edit</button>
                </form>
            </td>
        </tr>
    }
    <tr>
        <td colspan="2"><a class="btn btn-primary" asp-controller="Opportunity" asp-action="Create">Create New Opportunity</a></td>
    </tr>
</table>