@model Opportunity

<form asp-action="OpportunityForm" method="post">
    <input type="hidden" asp-for="OPPORTUNITYID" />
    <table class="table">
        <tr>
            <td colspan="2" style="text-align:center"><h4>Opportunity Form</h4></td>
        </tr>
        <tr>
            <td style="width:20%"><label asp-for="OpportunityName">Opportuntiy Name:</label></td>
            <td><input asp-for="OpportunityName" /></td>
        </tr>
        <tr>
            <td><label asp-for="OpportunityDate">Opportunity Date:</label></td>
            <td><input asp-for="OpportunityDate" /></td>
        </tr>
        <tr>
            <td><label asp-for="OpportunityElderSource">Opportunity ElderSource?</label></td>
            <td><input asp-for="OpportunityElderSource" /></td>
        </tr>
        <tr>
            <td><label asp-for="OpportunityElderSourceInstitute">Opportuntiy ElderSource Institute?</label></td>
            <td><input asp-for="OpportunityElderSourceInstitute" /></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center"><h4>Interest:</h4></td>
        </tr>
        <tr>
            <td><input asp-for="OpportunityNutrition" /><label asp-for="OpportunityNutrition">Nutrition</label></td>
            <td style="width:20%"><input asp-for="OpportunityTrainingFacilitator" /><label asp-for="OpportunityTrainingFacilitator">Training Facilitator</label></td>
            <td><input asp-for="OpportunityAdmin" /><label asp-for="OpportunityAdmin">Admin</label></td>
        </tr>
        <tr>
            <td><input asp-for="OpportunityGeneral" /><label asp-for="OpportunityGeneral">General</label></td>
            <td><input asp-for="OpportunityHealthyLiving" /><label asp-for="OpportunityHealthyLiving">Healthy Living</label></td>
            <td><input asp-for="OpportunityDiseaseManagement" /><label asp-for="OpportunityDiseaseManagement">Disease Management</label></td>
        </tr>
        <tr>
            <td><input asp-for="OpportunityFallsPrevention" /><label asp-for="OpportunityFallsPrevention">Falls Prevention</label></td>
            <td><input asp-for="OpportunityCaregiver" /><label asp-for="OpportunityCaregiver">Caregivers</label></td>
            <td><input asp-for="OpportunityMentalWellness" /><label asp-for="OpportunityMentalWellness">Mental Wellness</label></td>
        </tr>
        <tr>
            <td><input asp-for="OpportunityEvents" /><label asp-for="OpportunityEvents">Events</label></td>
            <td><input asp-for="OpportunitySocialMedia" /><label asp-for="OpportunitySocialMedia">Social Media</label></td>
        </tr>
        <tr>
            <td><label asp-for="OpportunityOtherInterest">Other Interest:</label></td>
            <td><input asp-for="OpportunityOtherInterest" /></td>
        </tr>
        <tr>
            <td><label asp-for="OpportunityDescription">Opportunity Description:</label></td>
            <td><textarea asp-for="OpportunityDescription"></textarea></td>
        </tr>
        <tr>
            <td colspan="2" class="table"><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
